{% load static %}
<section class="ftco-intro">
  <div class="container-fluid pl-0 pr-0">
    <div class="row no-gutters">
      <div class="col-md-3 d-flex">
        <div class="intro aside-stretch d-lg-flex w-100">
          <div class="icon">
            <span class="flaticon-lawyer"></span>
          </div>
          <div class="text">
            <h2>Geo-Technical Investigation</h2>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="intro color-1 d-lg-flex w-100">
          <div class="icon">
            <span class="flaticon-auction"></span>
          </div>
          <div class="text">
            <h2>Building Design</h2>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="intro color-2 d-lg-flex w-100">
          <div class="icon">
            <span class="flaticon-court"></span>
          </div>
          <div class="text">
            <h2>Road Design</h2>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="intro color-3 d-lg-flex w-100">
          <div class="icon">
            <span class="flaticon-court"></span>
          </div>
          <div class="text">
            <h2>Structural Analysis</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-md-4 d-flex">
        <div class="intro aside-stretch d-lg-flex w-100">
          <div class="icon">
            <span class="flaticon-lawyer"></span>
          </div>
          <div class="text">
            <h2>Real Estate</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="intro color-1 d-lg-flex w-100">
          <div class="icon">
            <span class="flaticon-auction"></span>
          </div>
          <div class="text">
            <h2>Estimation and Costing</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="intro color-2 d-lg-flex w-100">
          <div class="icon">
            <span class="flaticon-court"></span>
          </div>
          <div class="text">
            <h2>Legalities</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
