{% load static %}
<!-- Nav -->
<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <p class="mb-0 phone pl-md-2">
          <a href="/" class="mr-2"
            ><span class="fa fa-phone mr-1"></span> 9862586735/9821911013</a
          >
          <a href="/"
            ><span class="fa fa-paper-plane mr-1"></span>
            info@dbconsults.com.np</a
          >
        </p>
      </div>
      <div class="col-md-6 d-flex justify-content-md-end">
        <div class="social-media">
          <p class="mb-0 d-flex">
            <a href="/" class="d-flex align-items-center justify-content-center"
              ><span class="fa fa-facebook"
                ><i class="sr-only">Facebook</i></span
              ></a
            >
            <a href="/" class="d-flex align-items-center justify-content-center"
              ><span class="fa fa-twitter"
                ><i class="sr-only">Twitter</i></span
              ></a
            >
            <a href="/" class="d-flex align-items-center justify-content-center"
              ><span class="fa fa-instagram"
                ><i class="sr-only">Instagram</i></span
              ></a
            >
            <a href="/" class="d-flex align-items-center justify-content-center"
              ><span class="fa fa-dribbble"
                ><i class="sr-only">Dribbble</i></span
              ></a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<nav
  class="navbar navbar-expand-lg navbar-light ftco_navbar bg-light ftco-navbar-light"
  id="ftco-navbar"
>
  <div class="container">
    <a style="color: black;" class="navbar-brand" href="index.html"
      ><img
        style="width: 120px; height: 120px;"
        src="{% static 'images/logo.png'%}"
        alt=""
        srcset=""
      /><span class="ml-2"
        >DB Engineering Consultancy
        <h4
          style="
            margin-left: 140px;
            margin-top: -40px;
            font-weight: 700;
            font-size: 20px;
          "
        >
          डी.बी ईन्जिनियरिंग कन्सल्टेन्सी
        </h4></span
      ></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="/ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars" style="color: black;"></i>
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about/">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Download</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Career</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/detailservice/#geotechinical">Geo-Technical Investigation</a>
            <a class="dropdown-item" href="/detailservice/#buildingdesign">Building Design</a>
            <a class="dropdown-item" href="/detailservice/#roaddesign">Road Design</a>
            <a class="dropdown-item" href="/detailservice/#structureanalysis">Structural Analysis</a>
            <a class="dropdown-item" href="/detailservice/#realestate">Real-Estate</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href='/detailservice/#estimation'>Estimation and Costing</a>
            <a class="dropdown-item" href="/detailservice/#legalities"">Legalities</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Department
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/department-details/#architectural">Architecture</a>
            <a class="dropdown-item" href="/department-details/#civil">Civil</a>
            <a class="dropdown-item" href="/department-details/#realestate">Real-Estate</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/department-details/#finance">Finance</a>
            <a class="dropdown-item" href="/department-details/#education">Education</a>
            <a class="dropdown-item" href="/department-details/#legal">Legal</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#contactform">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->
