<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">Practice Area</span>
        <h2>What We Cover</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div
              class="mini-icon d-flex align-items-center justify-content-center"
            >
              <span class="flaticon-stats"></span>
            </div>
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="flaticon-stats"></span>
            </div>
          </div>
          <h2>Business Law</h2>
          <p>
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia.
          </p>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div
              class="mini-icon d-flex align-items-center justify-content-center"
            >
              <span class="flaticon-family"></span>
            </div>
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="flaticon-family"></span>
            </div>
          </div>
          <h2>Family Law</h2>
          <p>
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia.
          </p>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div
              class="mini-icon d-flex align-items-center justify-content-center"
            >
              <span class="flaticon-handcuffs"></span>
            </div>
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="flaticon-handcuffs"></span>
            </div>
          </div>
          <h2>Criminal Law</h2>
          <p>
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia.
          </p>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div
              class="mini-icon d-flex align-items-center justify-content-center"
            >
              <span class="flaticon-stay-home"></span>
            </div>
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="flaticon-stay-home"></span>
            </div>
          </div>
          <h2>Real Estate Law</h2>
          <p>
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia.
          </p>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div
              class="mini-icon d-flex align-items-center justify-content-center"
            >
              <span class="flaticon-injury"></span>
            </div>
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="flaticon-injury"></span>
            </div>
          </div>
          <h2>Personal Injury</h2>
          <p>
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia.
          </p>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div
              class="mini-icon d-flex align-items-center justify-content-center"
            >
              <span class="flaticon-auction"></span>
            </div>
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="flaticon-auction"></span>
            </div>
          </div>
          <h2>Judicial Law</h2>
          <p>
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
