{% load static %}
<section class="ftco-section testimony-section">

  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div
        class="col-md-7 text-center heading-section heading-section-white ftco-animate"
      >
        <h2 class="mb-4">Message from CEO</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="align-items-center justify-content-center">
              <img src="{% static 'images/PIC.png'%}" alt="" style="width:200px;border-radius:50%;border: 5px solid;"
          </div>
          <p class="pt-5">
            “DB Engineering Consultancy is a firm dedicated to making innovative
            architectural and engineering solutions and implementing best
            engineering management practices to the ultimate satisfaction of its
            clients. In this increasingly interconnected world, we intend to
            advance as a professional engineering consultancy through quality
            service, unique capabilities, professional development, process
            innovation, and client-driven growth strategies. We continually
            challenge and improve the way we do things, both as individuals as
            well as a team to enlarge our skill base to become a leading and
            fully diversified engineering consultancy group in Nawalparasi
            district. Each day, we grow ever confident of our ability to provide
            clients with solutions that will meet their business needs in the
            new era, no matter how challenging they are. I invite you to explore
            the world of DB Engineering Consultancy and discover the
            capabilities and services we offer. We thank you again and hope to
            work with you into achieving all your consulting aspirations.”
            <br />
            Thanks for visiting us. <br />
            <strong>Er. Aashish Aryal</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
