<section class="ftco-section ftco-no-pb ftco-no-pt">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-6 d-flex align-items-stretch">
        <div
          id="department"
          class="img img-3 w-100 d-flex justify-content-center align-items-center"
        ></div>
      </div>
      <div class="col-md-6 wrap-about ftco-animate">
        <div class="bg-light px-3 px-md-5 py-5">
          <div class="heading-section">
            <span class="subheading">Welcome to DB Engineering</span>
            <h2 class="mb-3">What should i approach for?</h2>

            <p>
              Our main departments are:
            </p>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="services d-flex w-100">
                <div
                  class="icon d-flex align-items-center justify-content-center"
                >
                  <span class="flaticon-lawyer"></span>
                </div>
                <div class="text pl-2">
                  <h2>Architecture</h2>
                  <p>
                     Architectural services and designs
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="services d-flex w-100">
                <div
                  class="icon d-flex align-items-center justify-content-center"
                >
                  <span class="flaticon-discount"></span>
                </div>
                <div class="text pl-2">
                  <h2>Civil</h2>
                  <p>
                    Design, planning and management of civil construction projects
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="services d-flex w-100">
                <div
                  class="icon d-flex align-items-center justify-content-center"
                >
                  <span class="flaticon-lawyer"></span>
                </div>
                <div class="text pl-2">
                  <h2>Real Estate</h2>
                  <p>
                    Advice on real estates by exploring the market values
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="services d-flex w-100">
                <div
                  class="icon d-flex align-items-center justify-content-center"
                >
                  <span class="flaticon-discount"></span>
                </div>
                <div class="text pl-2">
                  <h2>Finance</h2>
                  <p>
                    Specializing construction cost estimating and other aspects
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="services d-flex w-100">
                <div
                  class="icon d-flex align-items-center justify-content-center"
                >
                  <span class="flaticon-auction"></span>
                </div>
                <div class="text pl-2">
                  <h2>Education</h2>
                  <p>
                    Internship, Seminar, Webinars for undergraduate Students
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="services d-flex w-100">
                <div
                  class="icon d-flex align-items-center justify-content-center"
                >
                  <span class="flaticon-handcuffs"></span>
                </div>
                <div class="text pl-2">
                  <h2>Legal</h2>
                  <p>
                    Legal supports for issue related to land or any civil works
                  </p>
                </div>
              </div>

            </div>

          </div>
           <a href="/department-details/" style="padding-left:82%;">See More</a>
        </div>

      </div>
    </div>
  </div>
</section>
